constants:
  jwt:
    issuer: green@green.com
    schema: Bearer

    claim-key: signedUser

    header-key: Authorization
    secret-key: DaeguGreenArtAcademyClass502RoomForJavaSpringBootFighting

    access-token-cookie-name: access-token


eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8888/eureka

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true


spring:
  application:
    name: scg2
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user
              uri: lb://MUJIUNIV-USER
              predicates:
                - Path=/api/account/**, /api/user/**, /api/dept/**, /api/dept, /api/staff/**


            - id: function
              uri: lb://MUJIUNIV-FUNCTION
              predicates:
                - Path=/api/notice/**, /api/schedule/**, /api/course/**, /api/application/**, /api/student/**, /api/professor/**, /api/staff/**, /api/semester/**



  jackson:
    default-property-inclusion: non_null